@import url(./scrolly.css);

:root {
  --primary-green: #324a36;
  --primary-yellow: #feebac;
  --primary-purple: #6c4b5e;
  --pink: #e53598;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  background: var(--primary-yellow);
  margin: 0;
  padding: 4rem;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
h1 {
  color: var(--primary-green);
  font-size: 4.5rem;
  font-weight: 700;
  font-variation-settings: "YOPQ" 40;
  margin: 1rem 0;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  font-variation-settings: "YOPQ" 40;
}
section {
  margin: 2rem 0;
}
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;

  h1,
  p {
    text-align: center;
  }

  height: 95vh;
}
.story-element {
  margin-bottom: 24rem;
}
.may-intro-container article .blurb {
  width: fit-content;
  margin-bottom: 30rem;
}
.may-story-intro {
  display: flex;

  .spacer {
    background: red;
    width: 400px;
  }
}
.may-1-img-container {
  position: absolute;
  top: 2rem;
  right: 1rem;
  max-width: 280px;

  img {
    width: 100%;
  }
}
.may-story {
  background-color: var(--primary-purple);
  color: white;
}
.headlines {
  img {
    margin: 1rem 0;
    padding: 0 1rem;
  }
}

.word-cloud {
  svg {
    width: 100%;
  }
}
#story-2-data-container {
  max-width: 1100px;

  img {
    width: 100%;
  }
}
.constellation {
  border: 1px solid red;
  max-width: 65rem;
  margin: 0 auto;

  iframe {
    width: 100%;
    height: 80vh;
  }
}