@import url(./scrolly.css);

:root {
  --primary-green: #324a36;
  --background-main: #efefef;
  --primary-purple: #171436;
  --light-purple: #9962d8;
  --blue: #375c87;
  --blue-grey: #476284;
  --light-blue: #06499a;
  --pink: #e53598;
  --yellow: #ffc831;
  --light-green: #80d99c;
}
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  box-sizing: inherit;
}

body {
  background: var(--background-main);
  margin: 0;
  padding: 4rem;
  line-height: 1.5;
  font-family: "Kumbh Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
  font-size: 1rem;
}
h1 {
  color: var(--primary-green);
  font-size: 4.5rem;
  font-weight: 700;
  font-variation-settings: "YOPQ" 40;
  margin: 1rem 0;
}
h2 {
  font-size: 2rem;
  font-weight: 700;
  font-variation-settings: "YOPQ" 40;
}
section {
  margin: 2rem 0;
}
p {
  margin: 0;
  font-size: 1.2rem;
}
.landing {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 0;
  height: 95vh;
  h1,
  p {
    text-align: center;
  }
}
.story-element {
  margin-bottom: 12rem;
}
.img-container {
  max-width: 700px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}
.may-intro-container article .blurb {
  width: fit-content;
  margin-bottom: 30rem;
}
.blurb .introduction-scroll {
  text-align: center;
}
.may-1-img-container {
  position: absolute;
  top: 2rem;
  right: 1rem;
  max-width: 320px;

  img {
    width: 100%;
  }
}
.may-story {
  border: 2rem solid var(--blue-grey);
  background-color: var(--blue);
  color: white;
  padding: 2rem;
  box-shadow: inset 0 0 0 2px lightgrey;
}
.may-story-inner {
  background: var(--light-green);
  padding: .25rem;
}
.storycloth-container {
  position: relative;

  .storycloth1 {
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 240px;
  }

  .storycloth2 {
    position: absolute;
    top: 2rem;
    right: 1rem;
    width: 300px;
  }
}

#story-1-data-container,
#story-2-data-container,
#story-3-data-container {
  max-width: 1800px;

  iframe {
    width: 100%;
    height: 100%;
  }

  img {
    width: 100%;
  }
}
.plotly-facet {
  height: 90vh;
}

.word-cloud {
  max-width: 900px;
  margin: 0 auto;
  svg {
    width: 100%;
  }
}
.frequency-treemap {
  display: flex;
  gap: 2rem;

  .img-container {
    background-color: white;
    border: .2rem solid var(--primary-green);
    padding: .5rem;
  }
}
.context {
  max-width: 55%;
}
.plotly-facet-title {
  background: white;
  font-weight: 700;
  font-size: 1.5rem;
  padding: 1rem 0 .5rem 1.75rem;
}

.plotly-facet-static {
  max-width: 900px;
  margin: 0 auto;

  img {
    width: 100%;
  }
}
.story-1-avg{
  position: relative;
  display: flex;
  gap: 1rem;
}
.avg-inner {
  background: #557cb5fe;
  color: black;
  padding: .25rem;
}
.story-3 {
background: #171436;
  background: linear-gradient(0deg, rgba(23, 20, 54, 1) 23%, rgba(55, 92, 135, 1) 55%, rgba(239, 239, 239, 1) 88%);
  padding: 4rem;
  margin: -4rem;
}
.constellation-instructions {
  color: white;
  text-align: center;
}
.constellation {
  max-width: 65rem;
  height: 70vh;
}
.ending {
  background: #171436;
  background: linear-gradient(180deg, rgba(23, 20, 54, 1) 23%, rgba(55, 92, 135, 1) 55%, rgba(239, 239, 239, 1) 88%);
  margin: -4rem;
  padding: 4rem;
}
.ending-intro {
  h2, p {
    color: white;
  }
}